<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style media="screen">
        .my-input {
            margin: 0.3rem;
            padding: 0.5rem;
        }
        .my-error{
          font-size: 1.2em;
          border:3px solid red;
          border-top:0px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          color: red;
          background-color: #c4c4c4;
          padding-left: 2rem;
        }
    </style>
</head>
<body>

<form th:action="@{/add}" method="post" >
    <div>
        <div class="row bg-dark">
            <div class="col">
                <input required type="text" class="form-control my-input" size="40" placeholder="Title" th:name="title">
            </div>
            <div class="col">
                <input required type="text" class="form-control my-input" size="40" placeholder="Isbn" th:name="isbn">
            </div>
            <div class="col">
                <input required type="text" class="form-control my-input" size="40" placeholder="Author" th:name="authorName">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-outline-success my-input">Add</button>
            </div>
        </div>

    </div>
</form>

<div class="my-error" th:if="${exceptionMessage != null}">
        <td th:text="${exceptionMessage}"></td>
</div>

<table class="table table-bordered table-hover table-sm ">
    <thead class="thead bg-success text-light">
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Isbn</th>
        <th scope="col">Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.authorName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
